<!DOCTYPE html>
<html>

<head>
    <title>Application Status Update</title>
</head>

<body>
    <h1>Application Status Update</h1>
    <p>Dear {{candidateName}},</p>

    <p>We wanted to inform you that there has been an update regarding your application for the position of {{position}}
        at our company.</p>

    <p>Your application status has been changed to: <strong>{{status}}</strong>.</p>

    <p>Please log in to your account on our website for more details.</p>

    <p>Thank you for your interest in our company, and we appreciate the time you've taken to apply.</p>

    <p>Best regards,</p>
    <p>{{organizationName}}</p>
</body>

</html>